#container {
	overflow:visible;
}

#content {
	font-size:0;
	padding:20px 15px;
}

h1 {
	font-weight:normal;
	font-size:28px;
	font-weight:bold;
}

.miniheader {
	margin-top:30px;
	font-size:23px;
}
.miniheader span {
	margin-left:12px;
	display:inline-block;
	color:#555;
	cursor:pointer;
	font-size:18px;
}
.miniheader span:hover {
	text-decoration: underline;
}

.accounts {
	display:block;
	width:100%;
	margin-top:10px;
}
.account {
	display:block;
	border-bottom:1px solid #000;
	padding:2px 0 3px;
}
.accounts .account:last-child {
	border-bottom:none;
}
.account.top {
	border-bottom:2px solid #000;
}
.account .column {
	display:inline-block;
	vertical-align: top;
	font-size:16px;
}
.account.top .column {
	font-weight:bold;
}
.account .column.edit {
	width:40px;
	text-align: left;
}
.account.top .column.edit {
	visibility:hidden;
}
.accounts2 .column.edit {
	visibility:hidden;
}
.account .column.edit span {
	display:inline-block;
	font-size:12px;
	cursor:pointer;
	border:1px solid rgba(0,0,0,0.5);
	border-radius:2px;
	padding:1px 3px;
	background:#fff;
}
.account .column.username {
	width:120px;
}
.account .column.name {
	width:150px;
}
.account .column.email {
	width:300px;
}
.account .column.address {
	min-width:0;
	width:calc(100% - 40px - 120px - 150px - 300px);
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}


#mailinglist .box {
	min-width:400px;
	min-height:200px;
}
#mailinglist textarea {
	width:100%;
	min-height:200px;
	margin:15px 0 8px;
	padding:7px 8px;
	font-size:14px;
}

#resit .button1 {display:none;}

#createaccount .box {
	min-width:300px;
	padding:12px 18px;
}
#createaccount h2 {
	margin-bottom:7px;
}
#createaccount .label {
	font-size:14px;
	color:#444;
	margin:3px 0 1px;
}
#createaccount .input {
	font-size:18px;
	width:100%;
	padding:2px 3px;
}
#createaccount .button {
	margin:16px 0 8px;
}
#createaccount .message {
	margin:9px 0 0;
}
#createaccount .message.ok:before { content:"Account Created"; }
#createaccount .message.error:before { content:"Failed to create account. Check all fields"; }
#createaccount .message.empty:before { content:"Please fill in all fields properly"; }
#createaccount .message.exist:before { content:"Username already exists"; }

.openmodalbuttons {
	margin-top:26px;
	margin-bottom:30px;
}

#salesreport .box {
	min-width:500px;
}
#salesreport h2 {
	margin-bottom:5px;
}
#salesreport .label {
	display:inline-block;
	vertical-align: middle;
	font-size:15px;
	color:#333;
	margin-right:3px;
}
#salesreport .date {
	display:inline-block;
	vertical-align: middle;
	font-size:14px;
	width:40px;
	cursor:pointer;
	padding:2px 3px;
	margin-right:8px;
}
#salesreport .year { width:60px; }
#salesreport .spinnerBox {
	display:none;
	text-align: center;
	height:80px;
	padding-top:33px;
	overflow: hidden;
}
#salesreport.loadingsales .spinnerBox {
	position:relative;
	display:block;
}
#salesreport.loadingsales .stuff {
	display:none;
}
#salesreport .stats {
	font-size:16px;
	margin:5px 0 5px;
}

.fields {
	display:block;
	margin:3px 0 5px;
}
.fields .label {
	display:block;
	font-size:14px;
	color:#333;
}
.fields .labeli {
	display:inline-block;
	vertical-align: middle;
	margin-right:5px;
}
.fields select {
	display:inline-block;
	vertical-align: middle;
	font-size:14px;
	cursor:pointer;
	padding:2px 3px;
	margin-right:8px;
}

.listreservations.fields select { width:150px; }















