<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
    <filter-name>CorsFilter</filter-name>
    <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
    <init-param>
        <param-name>cors.allowed.origins</param-name>
        <param-value>*</param-value>
    </init-param>
    <init-param>
        <param-name>cors.allowed.methods</param-name>
        <param-value>GET,POST,HEAD,OPTIONS,PUT</param-value>
    </init-param>
    <init-param>
        <param-name>cors.allowed.headers</param-name>
        <param-value>Content-Type,X-Requested-With,accept,Origin,Access-Control-Request-Method,Access-Control-Request-Headers</param-value>
    </init-param>
    <init-param>
       <param-name>cors.exposed.headers</param-name>
       <param-value>Access-Control-Allow-Origin,Access-Control-Allow-Credentials</param-value>
    </init-param>
    <init-param>
        <param-name>cors.support.credentials</param-name>
        <param-value>false</param-value>
    </init-param>
    <init-param>
        <param-name>cors.preflight.maxage</param-name>
        <param-value>10</param-value>
    </init-param>
</filter>
  <filter-mapping>
    <filter-name>CorsFilter</filter-name>
    <url-pattern>/*</url-pattern>
</filter-mapping>
  <servlet>
  	<servlet-name>Flights</servlet-name>
  	<display-name>Flights</display-name>
  	<description></description>
  	<servlet-class>com.SafeFlight.Flights</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Signup</servlet-name>
  	<display-name>Signup</display-name>
  	<description></description>
  	<servlet-class>com.SafeFlight.Signup</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>com.SafeFlight.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MailingList</servlet-name>
  	<display-name>MailingList</display-name>
  	<description></description>
  	<servlet-class>com.SafeFlight.MailingList</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Reservation</servlet-name>
  	<display-name>Reservation</display-name>
  	<description></description>
  	<servlet-class>com.SafeFlight.Reservation</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditCustomer</servlet-name>
  	<display-name>EditCustomer</display-name>
  	<description></description>
  	<servlet-class>com.SafeFlight.EditCustomer</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditEmployee</servlet-name>
  	<display-name>EditEmployee</display-name>
  	<description></description>
  	<servlet-class>com.SafeFlight.EditEmployee</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Flight</servlet-name>
  	<display-name>Flight</display-name>
  	<description></description>
  	<servlet-class>com.SafeFlight.Flight</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Itinerary</servlet-name>
  	<display-name>Itinerary</display-name>
  	<description></description>
  	<servlet-class>com.SafeFlight.Itinerary</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Popular</servlet-name>
  	<display-name>Popular</display-name>
  	<description></description><servlet-class>com.SafeFlight.Popular</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddReservation</servlet-name>
  	<display-name>AddReservation</display-name>
  	<description></description>
  	<servlet-class>com.SafeFlight.AddReservation</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Revenue</servlet-name>
  	<display-name>Revenue</display-name>
  	<description></description>
  	<servlet-class>com.SafeFlight.Revenue</servlet-class>
  </servlet>

  <servlet-mapping>
  	<servlet-name>Flights</servlet-name>
  	<url-pattern>/flights</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Signup</servlet-name>
  	<url-pattern>/account/signup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/account/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MailingList</servlet-name>
  	<url-pattern>/account/mailinglist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditCustomer</servlet-name>
  	<url-pattern>/account/edit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditEmployee</servlet-name>
  	<url-pattern>/account/edit/employee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Reservation</servlet-name>
  	<url-pattern>/reservations/get</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Flight</servlet-name>
  	<url-pattern>/flights/get</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Itinerary</servlet-name>
  	<url-pattern>/reservations/itinerary</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Popular</servlet-name>
  	<url-pattern>/flights/getpopular</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddReservation</servlet-name>
  	<url-pattern>/reservations/create</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Revenue</servlet-name>
  	<url-pattern>/reports/revenue</url-pattern>
  </servlet-mapping>


  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>